.main {
  display: flex;
  gap: 10px;
  align-items: start;
}

.recipeTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;

  th,
  td {
    padding: 2px 4px;
    border-bottom: 1px solid #eee;
    text-align: left;
  }
  th {
    background: #f9f9f9;
  }

  svg {
    font-size: 18px;
  }
}

.search {
  background-color: var(--grey-color);
}

.arr {
  border: 1px solid #f3f3f4;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
