@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-color: #f1416c;
  --blue-color: #0d6efd;
  --white-color: #ffffff;
  --grey-color: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 14px;
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td {
  padding: 3px;
}

.ant-input-affix-wrapper,
.ant-input {
  padding: 1px 11px !important;
}

.ant-tree-treenode {
  margin-bottom: 0 !important;
}
