@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-color: #f1416c;
  --blue-color: #0d6efd;
  --white-color: #ffffff;
  --grey-color: #fcfcfc;
  --success-color: #50cd89;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 13px;
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td {
  padding: 3px;
}

.ant-input-affix-wrapper,
.ant-input {
  padding: 1px 11px !important;
}

.ant-tree-treenode {
  margin-bottom: 0 !important;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-form-item-label {
  padding: 0 !important;
}

.ant-input,
.ant-form-item,
.ant-form-item-label > label {
  font-size: 13px !important;
}

.ant-form-item-control-input {
  min-height: 0 !important;
}

.ant-select-selector {
  height: 24px !important;
}

.ant-select-single {
  display: flex;
  align-items: center;
}
